## Query languages in Nigeria from “World_x” MySQL Database

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### Step 1
Create an SQLAlchemy engine for a MySQL database, and enter the appropriate credentials, which includes user, password, database and host.

In [2]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{name}:{pw}@localhost/{db}"
                       .format(name = 'root',
                               pw = '12-55eK063',
                               db = 'world_x'))

### Step 2
Read the `country` and the `countrylanguage` tables. You can do this with the Pandas.read_sql or read_sql_table method. 
You expected to generate two pandas DataFrame from this, and you can provide any name for them.

In [3]:
country = pd.read_sql('country', con=engine)
countrylanguage=pd.read_sql('countrylanguage', con=engine)

###### Viewing the DataFrames

In [4]:
# Viewing the first few rows of the country DataFrame
country.head(3)

  Code         Name  Capital Code2
0  ABW        Aruba    129.0    AW
1  AFG  Afghanistan      1.0    AF
2  AGO       Angola     56.0    AO

In [5]:
# Viewing the first few rows of the contrylanguage DataFrame
countrylanguage.head(3)

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T         5.3
1         ABW     English          F         9.5
2         ABW  Papiamento          F        76.7

### Step 3
Rename the “CountryCode” column in the DataFrame generated from the “Countrylanguage” table. The new column name is “Code”. Hint: Use the Pandas.rename() method for this.

In [6]:
countrylanguage.rename(columns={"CountryCode":"Code"},inplace=True)

In [7]:
# viewing the first few rows for comfirmation
countrylanguage.head(3)

  Code    Language IsOfficial  Percentage
0  ABW       Dutch          T         5.3
1  ABW     English          F         9.5
2  ABW  Papiamento          F        76.7

### Step 4
In this step, you are expected to perform a `LEFT JOIN` by joining the “country” table to “countrylanguage”. You will perform this step using the Pandas method of combining data on a common column which is “Code”. Save your result to a DataFrame named “df_country”

In [8]:
df_country = pd.merge(country, countrylanguage, how='left', on='Code')

In [9]:
# Viewing the first few rows of the combined DataFrame
df_country.head(3)

  Code   Name  Capital Code2    Language IsOfficial  Percentage
0  ABW  Aruba    129.0    AW       Dutch          T         5.3
1  ABW  Aruba    129.0    AW     English          F         9.5
2  ABW  Aruba    129.0    AW  Papiamento          F        76.7

### Step 5
From the results above, you will filter the DataFrame(df_country) to return another DataFrame where the “Code” column is `NGA` and the “Name” column is `Nigeria`. In essence, you are to generate a table for the country Nigeria. You can name this DataFrame `df_Nigeria`

In [10]:
df_Nigeria = df_country.query('Code=="NGA" & Name=="Nigeria"')

In [11]:
df_Nigeria.reset_index(drop=True, inplace=True)

In [12]:
df_Nigeria

  Code     Name  Capital Code2 Language IsOfficial  Percentage
0  NGA  Nigeria   2754.0    NG     Bura          F         1.6
1  NGA  Nigeria   2754.0    NG      Edo          F         3.3
2  NGA  Nigeria   2754.0    NG      Ful          F        11.3
3  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
4  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
5  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
6  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
7  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
8  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
9  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

### Step 6
To test the methods above, perform a similar `LEFT JOIN` by writing an SQL query(not Pandas method) and save to a variable. Using the Pandas.read_sql method, read the query from the database to perform and generate results for the join procedure. Save the result to another DataFrame name e.g `df_Nigeria_SQL`
Note: Use `SELECT * ` when writing the query so as to generate columns that are similar to previous steps. Also remember to drop the `countrycode` column

In [13]:
query = """SELECT * FROM country c
           LEFT JOIN countrylanguage cl
           ON c.Code = cl.CountryCode
           WHERE c.Code='NGA' AND Name='Nigeria'"""
df_Nigeria_SQL = pd.read_sql(query, con=engine)

In [14]:
df_Nigeria_SQL.drop('CountryCode',axis=1, inplace=True)

In [15]:
df_Nigeria_SQL

  Code     Name  Capital Code2 Language IsOfficial  Percentage
0  NGA  Nigeria     2754    NG     Bura          F         1.6
1  NGA  Nigeria     2754    NG      Edo          F         3.3
2  NGA  Nigeria     2754    NG      Ful          F        11.3
3  NGA  Nigeria     2754    NG    Hausa          F        21.1
4  NGA  Nigeria     2754    NG   Ibibio          F         5.6
5  NGA  Nigeria     2754    NG      Ibo          F        18.1
6  NGA  Nigeria     2754    NG      Ijo          F         1.8
7  NGA  Nigeria     2754    NG   Joruba          F        21.4
8  NGA  Nigeria     2754    NG   Kanuri          F         4.1
9  NGA  Nigeria     2754    NG      Tiv          F         2.3

### Step 7
Use the shape attribute to check the shape of both DataFrames `(df_Nigeria & df_Nigeria_SQL)`. The result should be the same for both DataFrames. You can write a conditional statement to check if both shapes are equal. 
Ensure that you don’t have `countrycode` column in your test DataFrame

In [16]:
print(df_Nigeria.shape)
print(df_Nigeria_SQL.shape)

(10, 7)
(10, 7)

In [17]:
df_Nigeria.shape == df_Nigeria_SQL.shape

True

### Step 8
Using the DataFrame.to_sql method, save the results of “df_Nigeria” to a new table(you can provide any name e.g “nigerialanguage” to the database. 
Provide a screenshot to show that your procedure ran successfully.

In [18]:
df_Nigeria.to_sql('nigerialanguage', con=engine, index=False, if_exists='replace')